<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.signalplay.tv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:banner="@drawable/logo_oficial"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignalPlayTV"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".LauncherAlias"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".HomeActivity" android:exported="false" android:screenOrientation="landscape" />
        <activity android:name=".SearchActivity" android:exported="false" android:screenOrientation="landscape" />
        <activity android:name=".TvActivity" android:exported="false" android:screenOrientation="landscape" />
        <activity android:name=".VodActivity" android:exported="false" android:screenOrientation="landscape" />
        <activity android:name=".SeriesActivity" android:exported="false" android:screenOrientation="landscape" />
        <activity android:name=".SportsActivity" android:exported="false" android:screenOrientation="landscape" />
        <activity android:name=".SettingsActivity" android:exported="false" android:screenOrientation="landscape" />
        <activity android:name=".DetailsActivity" android:exported="false" android:screenOrientation="landscape" />
        <activity android:name=".PlayerTvActivity" android:exported="false" android:screenOrientation="landscape" />
        <activity android:name=".PlayerVodActivity" android:exported="false" android:screenOrientation="landscape" />
        
        <activity android:name=".PixActivity" android:exported="false" android:screenOrientation="landscape" />

    </application>
</manifest>
